@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400,700&display=swap");
body {
  font-family: "Open Sans", sans-serif;
}
ul {
  margin: 0;
}
#app {
  margin-top: 56px;
}
#error-template,
#about-template,
#faq-template,
#hire-template {
  padding-top: 80px;
  margin-bottom: 150px;
}
.navbar-white {
  background-color: #fff;
  border-bottom: 1px solid #e8e8e8;
}
.navbar-white .navbar-brand {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
.navbar-white .navbar-brand,
.navbar-white .nav-link {
  color: #666;
}
.navbar-white .navbar-brand:hover,
.navbar-white .navbar-brand:active,
.navbar-white .nav-link:hover,
.navbar-white .nav-link:active {
  color: #111;
}
.navbar-white .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.img-element {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.img-element img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
img.lazy {
  position: relative;
  width: 100%;
  filter: blur(100px);
  transform: scale(1);
}
.text-element {
  padding: 2rem 1rem;
}
.text-element .text-title {
  font-family: "Montserrat", sans-serif;
  text-align: left;
  font-weight: 700;
  font-size: calc(1.21rem + 0.39 * (100vw - 20rem) / 28);
  line-height: calc(1.4 * (1.21rem + 0.39 * (100vw - 20rem) / 28));
}
.text-element .text-content {
  font-size: 1rem;
}
@media (min-width: 768px) {
  .text-element {
    padding: 0.5rem;
  }
  .text-element .text-title {
    font-size: calc(0.9rem + 0.3 * (100vw - 48rem) / 14);
    line-height: calc(1.4 * (0.9rem + 0.3 * (100vw - 48rem) / 14));
  }
  .text-element .text-content {
    font-size: calc(0.8rem + 0.3 * (100vw - 48rem) / 14);
    line-height: calc(1.4 * (0.8rem + 0.3 * (100vw - 48rem) / 14));
  }
}
@media (min-width: 992px) {
  .text-element {
    padding: 1.5rem;
  }
  .text-element .text-title {
    font-size: calc(1.3rem + 0.3 * (100vw - 62rem) / 13);
    line-height: calc(1.4 * (1.3rem + 0.3 * (100vw - 62rem) / 13));
  }
  .text-element .text-content {
    font-size: calc(1.1rem + 0.3 * (100vw - 62rem) / 13);
    line-height: calc(1.4 * (1.1rem + 0.3 * (100vw - 62rem) / 13));
  }
}
@media (min-width: 1200px) {
  .text-element {
    padding: 3rem;
  }
  .text-element .text-title {
    font-size: calc(1.2rem + 0.4 * (100vw - 75rem) / 19);
    line-height: calc(1.4 * (1.2rem + 0.4 * (100vw - 75rem) / 19));
  }
  .text-element .text-content {
    font-size: calc(1.1rem + 0.3 * (100vw - 75rem) / 19);
    line-height: calc(1.4 * (1.1rem + 0.3 * (100vw - 75rem) / 19));
  }
}
@media (min-width: 1500px) {
  .text-element {
    padding: 5rem;
  }
  .text-element .text-title {
    font-size: 1.6rem;
  }
  .text-element .text-content {
    font-size: 1.4rem;
  }
}
.faq-section {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #f4f4f4;
}
.faq-section a {
  color: #666;
}
.faq-section a:hover,
.faq-section a:active {
  color: #111;
  text-decoration: none;
}
.faq-section h5 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  margin: 0;
}
#faq-template .accordion .card {
  border-radius: 0;
  border: 0;
}
#faq-template .accordion .card .card-header {
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  margin-bottom: 0;
}
#faq-template .accordion .card .card-header .faq-btn {
  color: #666;
  background-color: transparent;
  text-align: left;
}
#faq-template .accordion .card .card-header .faq-btn:focus {
  box-shadow: none;
}
#faq-template .accordion .card .card-header .faq-btn:hover,
#faq-template .accordion .card .card-header .faq-btn:active {
  color: #111;
}
#faq-template .accordion .card .card-body {
  padding: 1.25rem 1.25rem 3rem;
}
#footer {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #333;
}
#footer p {
  color: #fff;
}
#footer .footer-links {
  list-style: none;
  margin: 0;
  padding: 0;
}
#footer .footer-links .footer-link {
  margin-bottom: 1rem;
}
#footer .footer-links .footer-link a {
  color: #fff;
}
#footer .footer-links .footer-link a:hover,
#footer .footer-links .footer-link a:active {
  color: #ccc;
  text-decoration: none;
}
.square1 {
  background-color: #f5f5f5;
}
.square1 .text-element .text-title {
  color: #000;
}
.square1 .text-element .text-content {
  color: #333;
}
.square2 {
  background-color: #fff;
}
.square2 .text-element .text-title {
  color: #000;
}
.square2 .text-element .text-content {
  color: #333;
}
.square3 {
  background-color: #f5f5f5;
}
.square3 .text-element .text-title {
  color: #000;
}
.square3 .text-element .text-content {
  color: #333;
}
.square4 {
  background-color: #fff;
}
.square4 .text-element .text-title {
  color: #000;
}
.square4 .text-element .text-content {
  color: #333;
}
